button {
    height: 800px;
    width: 400px;
    outline: none;
    margin: none;
    border: none;
    border-radius: none;
}
  
button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.background {
    height: 800px;
    width: 360px;
    outline: none;
    margin: none;
    border: none;
    border-radius: none;
}

.center {
    text-align: center;
}

.category1 {
    height: 80px;
    width: 345px;
    outline: 2px;
    margin: auto;
    background-color: #FA6473;
}

.category1:hover {
    background-color: #F81027;
}

.category2 {
    height: 80px;
    width: 345px;
    outline: none;
    margin: auto;
    background-color: #FFC84B;
}

.category2:hover {
    background-color: #F9AE00;
}

.category3 {
    height: 80px;
    width: 345px;
    outline: none;
    margin: auto;
    background-color: #00C8A5;
}

.category3:hover {
    background-color: #00957C;
}

.category4 {
    height: 80px;
    width: 345px;
    outline: none;
    margin: auto;
    background-color: #6482FF;
}

.category4:hover {
    background-color: #0D3DFF;
}